: "${XDG_CACHE_HOME:="${HOME}/.cache"}"
declare -A direnv_layout_dirs
direnv_layout_dir() {
    local hash path
    echo "${direnv_layout_dirs[$PWD]:=$(
        hash="$(sha1sum - <<< "$PWD" | head -c40)"
        path="${PWD//[^a-zA-Z0-9]/-}"
        echo "${XDG_CACHE_HOME}/direnv/layouts/${hash}${path}"
    )}"
}

dotenv "$HOME/.env"

if [[ ! -f .env ]]; then
  echo ".env file secret not revealed, so deployments won't work" >&2
  echo "run \`git secret reveal .env\` to enable deployments" >&2
else
  dotenv ".env"
fi

use flake "github:friedenberg/dev-flake-templates?dir=python"
